<form method="post" action="{{ path('app_panier_delete', {'id': panier.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimé le panier ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ panier.id) }}">
    <button class="btn">Supprimer</button>
</form>
