{% extends 'base.html.twig' %}

{% block title %}New Panier{% endblock %}

{% block body %}
    <h1 class="container" >Mes commandes</h1>
    <div class="container"> 
    {{ include('panier/_form.html.twig') }}
    <a href="{{ path('app_panier_index') }}">back to list</a>
    </div>
{% endblock %}

