{% extends 'base.html.twig' %}

{% block title %}404 Not Found{% endblock %}

{% block body %}
    <h1>404 Not Found</h1>
    <p>Oups, nous n'avons pas trouvé la ressource attendue.</p>
{% endblock %}